CRL download from distribution point failing?

In relation to issue #78, I was wondering why the code that should have downloaded the CRL from the CRL distribution point didn't kick in. Tracing the calls in the code, I found this piece:

	/**
	 * Checks a certificate if it is revoked.
	 * 
	 * @param paramsPKIX PKIX parameters.
	 * @param cert Certificate to check if it is revoked.
	 * @param validDate The date when the certificate revocation status
	 *                should be checked.
	 * @param sign The issuer certificate of the certificate
	 *                <code>cert</code>.
	 * @param workingPublicKey The public key of the issuer certificate
	 *                <code>sign</code>.
	 * @param certPathCerts The certificates of the certification path.
	 * @param jcaHelper JcaJce helper
	 * @throws SimpleValidationErrorException if the certificate is revoked or the
	 *                 status cannot be checked or some error occurs.
	 */
	public static void checkCRLs2(ExtPKIXParameters2 paramsPKIX, X509Certificate cert,
			Date validDate, X509Certificate sign, PublicKey workingPublicKey,
			List<?> certPathCerts, JcaJceHelper jcaHelper) throws SimpleValidationErrorException
	{
		SimpleValidationErrorException lastException = null;
		CRLDistPoint crldp = null;
		try
		{
			crldp = CRLDistPoint.getInstance(CertPathValidatorUtilitiesCanl
					.getExtensionValue(cert,
						RFC3280CertPathUtilities.CRL_DISTRIBUTION_POINTS));
		} catch (Exception e)
		{
			throw new SimpleValidationErrorException(ValidationErrorCode.crlDistPtExtError, e); 
		}
        ...
	}

Note how the code tries to extract the distribution point from `cert` rather than `sign`. This returns null as cert is the clients certificate, not the certificate of the CA.

The above is from RFC3280CertPathUtilitiesCanl in CANL 2.2 and RFC3280CertPathUtilitiesHelper in 1.3.3 (I only traced the calls in 1.3.3, so cannot say whether it gets invoked in 2.2).

Well, in my understanding this is correct, CRL distribution point should be taken from the certificate being checked, not issuing certificate.  RFC 5280:

6.3.3.  CRL Processing

   This algorithm begins by assuming that the certificate is not
   revoked.  The algorithm checks one or more CRLs until either the
   certificate status is determined to be revoked or sufficient CRLs
   have been checked to cover all reason codes.

   For each distribution point (DP) in the *certificate's CRL
   distribution points extension*, for each corresponding CRL in the
   local CRL cache, while ((reasons_mask is not all-reasons) and
   (cert_status is UNREVOKED)) perform the following:


Thanks for your answer. I will have a read through that section of RFC 5280 myself later. I am just wondering how this is supposed to work - what's the point of taking the DP from the client's certificate rather than the CA's? At least in case of the NorduGrid CA, the CA certificate is the one containing the DP extension.

Okay, I get your point now. I agree that the RFC starts the CRL check by looking for a distribution point extension in the certificate that should be checked for revocation, and this is indeed what CANL appears to do. 

Maybe you can help me understand the last paragraph of section 6 in RFC 5280:

    If the revocation status has not been determined, repeat the process
    above with any available CRLs not specified in a distribution point
    but issued by the certificate issuer.  For the processing of such a
    CRL, assume a DP with both the reasons and the cRLIssuer fields
    omitted and a distribution point name of the certificate issuer.
    That is, the sequence of names in fullName is generated from the
    certificate issuer field as well as the certificate issuerAltName
    extension.  After processing such CRLs, if the revocation status has
    still not been determined, then return the cert_status UNDETERMINED.

So this is basically the case for a certificate that doesn't contain a CRL distribution point; it falls back to any available CRL issued by the issuer of the certificate. The RFC is not particularly specific on how those CRLs are obtained, although praxis in our community at least is that the CA cert contains a CRL distribution point extension from which the CRL is downloaded. I take it from the following comment in CANL:

		/*
		 * We always get timely valid CRLs, so there is no step (a) (1).
		 * "locally cached" CRLs are assumed to be in getStore(),
		 * additional CRLs must be enabled in the ExtendedPKIXParameters
		 * and are in getAdditionalStore()
		 */

that downloading of such CRLs is outside the scope of the library? I.e. there is no alternative to a cron-job invoking fetch-crl?

Did I understand all this correctly? Apologies for asking stupid questions, but I am porting dCache from JGlobus to CANL, and this is one of the areas in which the results of JGlobus and CANL differ.

I don't think that taking a DP of issuer cert is a valid thing to do (even as a non-standard enhancement). This is because the DP of issuer cert is supposed to contain revocations of the issuer cert. Think about intermediary CAs here. So if canl would perform such operation it would IMO break RFC.

In other words - either your CA should fix its behaviour or you should use something like fetchcrl. 

In general if you want to use automatic revocation checking then OCSP is the way to go. But there are always doubts how to behave when not on-line.

Okay, thanks.